<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    {% load static %}
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body style="color: var(--bs-dark);">
    <nav class="navbar navbar-light navbar-expand-md textprimary border-primary text-center text-primary border rounded shadow" style="background: #0b408b;">
        <div class="container-fluid"><a class="navbar-brand" href="" style="color: white;">Tracker</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="login/" style="color: white;">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="register/" style="color: white;">Register</a></li>
            </ul>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav"></ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 style="color: #f0c01f;text-align: center;font-family: montserrat;">TrackerPy</h1>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="color: #0f254e;text-align: center;font-family: montserrat;"><strong>¿Por qué no usar un Tracker para tu desarrollo?</strong><br></h4>
                        <h6 class="text-text-muted card-subtitle mb-2" style="color: #0f254e;font-family: montserrat;">Claro que puedes con TrackerPy</h6>
                        <p class="card-text" style="color: #0f254e;">Con TrackerPy tu podrás llevar el control de tu desarrollo, cuanto trabajan tus desarrolladores, que archivos realizaron o modificaron y llevar el conteo de sus líneas de códigos.<br></p>
                        <div class="card"><img class="card-img-top w-100 d-block" src="{% static 'img/software.jpg' %}">
                            <div class="card-body">
                                <h4 class="card-title" style="color: #fb6814;">Acercate a la excelencia de la mano de TrackerPy</h4>
                                <p class="card-text" style="color: #fb6814;">Con TrackerPy tu líder de equipo podrá entregarte reportes detallados con las métricas exactas de cada miembro del equipo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="mb-0" style="text-align: center;color: #0f254e;">¿Para quienes es TrackerPy?</h2>
                <div class="card-group m-auto" style="text-align: center;">
                    <div class="card"><img class="rounded img-fluid card-img-top w-100 d-block" src="{% static 'img/equipo.png' %}">
                        <div class="card-body">
                            <h4 class="card-title" style="color: #fb6814;">Equipos</h4>
                            <p class="card-text" style="color: #fb6814;">Los equipos pueden llevar un tracking real de sus métricas sin necesidad de hacerlo a modo manual o con herramientas arcaicas</p>
                        </div>
                    </div>
                    <div class="card"><img class="rounded img-fluid card-img-top w-100 d-block" src="{% static 'img/mochila.png' %}">
                        <div class="card-body">
                            <h4 class="card-title" style="color: #fb6814;">Escuelas</h4>
                            <p class="card-text" style="color: #fb6814;">Los estudiantes pueden aprender a llevar sus metricas en equipo o en solitario sin necesidad de estar llevando un control relativamente arcaico</p>
                        </div>
                    </div>
                    <div class="card"><img class="img-fluid card-img-top w-100 d-block" src="{% static 'img/desarrollo-web.png' %}">
                        <div class="card-body">
                            <h4 class="card-title" style="color: #fb6814;">Desarrolladores</h4>
                            <p class="card-text" style="color: #fb6814;">Los desarrolladores pueden llevar sus métricas, incluso por lenguaje para poder conocer realmente que lenguaje están usando</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><footer class="copyright">
				<div class="content"> Creado con <span class="text-switch ion-heart"></span> por Slash Gil © 2021
	</div>
	</footer></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
</body>

</html>